<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AFIShippers.Properties.Settings.AFIDBConnectionString"
            connectionString="Data Source=AFISRV;Initial Catalog=AFIDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>